/* >>>>>>>>>>>>>>>>> ABOUT <<<<<<<<<<<<<<<<< */

.about{
    margin: 0;
    margin-top: 0;
    padding: 0;
    color: #FFFFFF;
    width: 100%;
    height: 74.3vh;
    box-sizing: border-box;
    position: relative !important;
}
.about-text{
    top: 50%;
    left: 50%;
}
.about-text h1,p{
    font-size: 50px;
    color: #FFFFFF;
}
.about p{
    width: 50vw;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}
.about .container{
    padding: 0;
    margin: 22vh 0;
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.about .container .box:hover{
    filter: grayscale(0);
}
.about .container .box{
    position: relative;
    width: 50%;
    height: 50vh;
    height: 586px;
    filter: grayscale(1);
    
}
.about .container video{
    width : 100%;
    height: 100%;
    position: absolute;
    justify-content: stretch;
    object-fit: cover !important;
}

.about img{    
    width: 30px;
    margin-top: 25vh;
}
.about .overlay{
    position: absolute;
    margin: 25vh 24vw;
 
}
/* >>>>>>>>>>>>>>> END ABOUT <<<<<<<<<<<<<<<< */