/* >>>>>>>>>>>>>>>>> ABOUT <<<<<<<<<<<<<<<<< */
.about{
    margin: 0;
    margin-top: -67px;
    margin-bottom: -2px;
    padding: 0;
    color: #FFFFFF;
    width: 100%;
    height: 74.3vh;
    box-sizing: border-box;
    position: relative !important;
}

.about h1{
    font-size: 72;
    line-height: 78px;
    color: #FFFFFF;
    left:50%;
}

.about span{
    color: #D75252;
}

.content{
    z-index: 2;
    color: #fff;
    width: 70%;
    /* margin-top: 30px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.about .container{
    padding: 0;
    margin: 67px 0;
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.about .container .box:hover{
    filter: grayscale(0);
}
.about .container .box{
    position: relative;
    width: 50%;
    height: 50vh;
    height: 586px;
    filter: grayscale(1);
    
}
.about .container video{
    width : 100%;
    height: 100%;
    position: absolute;
    justify-content: stretch;
    object-fit: cover !important;
}

.about img{    
    width: 30px;
    margin-top: 25vh;
}

.content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}
/* >>>>>>>>>>>>>>> END ABOUT <<<<<<<<<<<<<<<< */
