@media (max-width: 991.98px) { 
    .parent{
      position:absolute;
      z-index: 0;
      overflow:hidden;
    }
    .parent2{
      z-index: 1;
      background: rgba(255, 255, 255, 0.77);
      backdrop-filter: blur(6.1px);
      -webkit-backdrop-filter: blur(6.1px);
    }
   }