
/* >>>>>>>>>>>>>>>>>> HERO <<<<<<<<<<<<<<<<<< */
#hero h1{
    font-size: 72;
    line-height: 78px;
    color: #FFFFFF;
    left:50%;
}
#hero span{
    color: #D75252;
}
  #hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  #hero:before{
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(0,0,0,.534);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #hero .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }
  
  #hero .content{
    display: block;
    margin-left: 15vw;
  }
  
  #hero img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    object-fit: cover;
  }
.arrow,
.arrow:before {
  position: absolute;
  left: 50%; 
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: 400px 0 0 -25px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }

/* >>>>>>>>>>>>>>>> END HERO <<<<<<<<<<<<<<<<< */