.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #f3f4f8;
    border-radius: 6px;
    padding: 10px;
    }

    .search_input{
    color: #a8adb3;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width .4s linear;
    padding: 0 10px;
    width: 316px;
    caret-color: red;
    }
    
    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: grey;
    text-decoration: none;
    }

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem 0rem 0rem;
}

.card {
    width: 18rem;
    border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.card-text{
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
}

.card-text span{
    color: #000;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.text-danger {
    margin-bottom: 25px !important;
}

.product-title {
    margin-top: 50px;
}

h1.product-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 30px;
}

.product-description {
    font-family: 'Montserrat';
    font-size: 15px;
}

.btn.order{
    width: 150px;
}

.order-button{
    font-size: 15px;
}

@media (max-width: 800px) {
    .btn.order{
    padding: 6px !important;
}

.pl-cs{
    padding: 30px;
}
}

@media (max-width: 400px) {
    .search_input{
        width: 200px;
    }
}