h1{
  font-weight: bold;
  font-size: 54px;
  line-height: 70px;
  color: #D75252;
}

h2{
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  margin-bottom:10px;
}

p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #0A0A0A;
  max-width: 600px;
  margin: 20px 0;
}

.parent{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
  }

  @media (max-width: 991.98px) { 
    .parent{
      position:absolute;
      z-index: 0;
      overflow:hidden;
    }
    .parent2{
      z-index: 1;
      background: rgba(255, 255, 255, 0.77);
      backdrop-filter: blur(6.1px);
      -webkit-backdrop-filter: blur(6.1px);
    }
   }

.track1, .track2 {
  animation-iteration-count: infinite;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.track1 {
  animation-name: slidedown;
}

.track2 {
  animation-name: slideup;
}

@keyframes slidedown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
