/* >>>>>>>>>>>>>>> OLSHOP <<<<<<<<<<<<<<<< */
.content-img button{
    background-color: #D75252 !important;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 3vh;
    width: 8vw;
    height: 3vw;
    font-family: 'Inter', sans-serif;
}
.content-img button:hover{
    background-color: rgb(219, 116, 116) !important;
}
.content-img{
    margin: 70px 0;
    box-sizing: border-box;
}
.content-img h2{
    margin-top: 14vh;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-bottom:10px;
}
.content-img h1{
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    color: #D75252;
}
.content-img p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #0A0A0A;
    max-width: 600px;
    margin: 20px 0;
}
.slider white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 3))}
}


.slider {
	height: 500px;    
	margin: auto;
    margin-top: 30px;
	overflow:hidden;
	position: relative;
	width: 600px;
}
.slider::before,.slider::after {
        background : linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
		content: "";
		height: 500px;
		position: absolute;
		width: 200px;
		z-index: 2;
}
	
.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
}

.slider::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	.slide-track2{
        margin-top: 150px;
        animation: scroll 40s reverse infinite;
        display: flex;
		width: calc(250px * 14);
    }
	.slide {
		height: 100px;
		width: 250px;
	}
/* >>>>>>>>>>>>> END OLSHOP <<<<<<<<<<<<<< */