section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.organization{
    width: 100%;
    height: 100vh;
    background: #2f2f2f;   
}
.orga{    
    margin-bottom: -140px !important;
    /* SEMENTARA */
}
.containerr{
    margin: 150px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item{
    display: none !important;    
}
.alice-carousel__dots-item,
.alice-carousel__dots-item.__active{
    margin-top: 55px !important;
    border-radius: 0 !important;
    height: 5px !important;
    transition: .7s !important;
}
.alice-carousel__dots-item{
    background-color: #808080 !important;
    width: 37px !important;
}
.alice-carousel__dots-item.__active{
    background-color: #D75252 !important;
    width: 59px !important;
}
.cardd{
    width: 300px;
    height: 400px;
    margin: 0 20%;
    background-color: #fff;
    transition: .5s;
    
}
.atas{
    border-top: #D75252 solid 20px;
    opacity: 0;
}
.cardd p,h3,span{
    transition: .5s;
}
.cardd span{
    opacity: 0;
    color: #D75252;
}
.cardd .cardd-img{
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.cardd-img img{
    margin: 50px 33%;
}

.cardd-body{
    height: 200px;    
    text-align: justify;
    padding: 20px;
}

.backgroundd{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(../assets/organization/background.png);  
    transition: .6s;  
}

.cardd:hover{
    transform: translateY(-13px);  
}
.cardd:hover p{
    transform: translateY(-10px);    
    transition: .5s;
}
.cardd:hover h3{
    transform: translateY(-10px);    
    transition: .5s;
}
.cardd:hover span{
    opacity: 1; 
    transition: .5s;
}
.cardd:hover .atas{
    opacity: 1;
    transition: .9s;
}

/* Untuk card hover dan background akan berubah */
/* kelihatanya .cardd:nth-child():hover ~ .backgroundd 
 tidak kedetect 
 
 karena errornya atau bug muncul setelah
 menggunakan carousel 
 
 dimana yang sebelumnya card di dalam
 render sekarang ada di function carousel - items[] */
.cardd:nth-child(1):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire.jpg) !important;
    background-size: cover !important;
}
.cardd:nth-child(2):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire2.jpg) !important;
    background-size: cover;
}
.cardd:nth-child(3):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire3.jpg) !important;
    background-size: cover;
}
.cardd:nth-child(4):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire.jpg) !important;
    background-size: cover !important;
}
.cardd:nth-child(5):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire2.jpg) !important;
    background-size: cover;
}
.cardd:nth-child(6):hover ~ .backgroundd{
    background-image: url(../assets/organization/Fire3.jpg) !important;
    background-size: cover;
}

.modal{
    display: block;
}
.modal-dialog{
    border-top: #D75252 solid 5px;
}
.modal-header{
    border: none !important;    
}
.modal h1{
    font-size: 5vh;
    color: #D75252;
    text-align: center;
    margin-bottom: 20px;
}
.modal-footer{
    border: none !important;
    background-image: url(../assets/organization/modal-footer.png);
    height: 400px;
    position: absolute;
    left: 0px;
    width: 480px;
    background-size: cover;
}
.modal-logo{
    height: 120px;
    margin: 7vh 11vw;
}
@media screen and (max-width: 1270px){
    .cardd{
        margin: 0 5vw;
    }  
} 
@media screen and (max-width: 1024px){
    .cardd{
        margin: 0 10vw;
    }  
} 
@media screen and (max-width: 960px){    
    .cardd{
        width: 200px;
        margin: 0 13vw;
    }    
    .cardd-img img{
        width: 75px;
        margin: 50px 60px;
    }
    .varsity-text{    
        font-size: 45px;
    }
    .alice-carousel__dots-item,
    .alice-carousel__dots-item.__active{
        margin-top: 45px !important;        
        height: 4px !important;        
    }
    .alice-carousel__dots-item{        
        width: 27px !important;
    }
    .alice-carousel__dots-item.__active{        
        width: 49px !important;
    }
}

@media screen and (max-width: 760px){
    .cardd{
        width: 150px;
        margin: 0 13vw;        
    }    
    .cardd-body{
        padding-top: 0;
    }
    .cardd-img img{
        width: 65px;        
        margin: 50px 40px;   
    }
    .cardd .cardd-img{
        height: 160px;
    }
    .varsity-text{    
        font-size: 45px;
    }
    .alice-carousel__dots-item,
    .alice-carousel__dots-item.__active{
        margin-top: 35px !important;        
        height: 4px !important;        
    }
    .alice-carousel__dots-item{        
        width: 25px !important;
    }
    .alice-carousel__dots-item.__active{        
        width: 44px !important;
    }
}
@media screen and (max-width: 568px){
    .cardd-img img{
        width: 65px;        
        margin: 50px 70px;   
    }
    .cardd{
        width: 200px;
        margin: 0 30vw;        
    }  
}